# JSON Exercises
****

### Import Packages Needed

In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

### Import the Data

In [2]:
data = pd.read_json('data/world_bank_projects.json')

## Countries with most Projects
Find the 10 countries with most projects

In [3]:
# load as Pandas dataframe
countries = data['countryname'].value_counts()
countries

Republic of Indonesia            19
People's Republic of China       19
Socialist Republic of Vietnam    17
Republic of India                16
Republic of Yemen                13
                                 ..
Bosnia and Herzegovina            1
Central African Republic          1
Republic of Panama                1
Kingdom of Thailand               1
Republic of Zimbabwe              1
Name: countryname, Length: 118, dtype: int64

## Top 10 Project Themes
Find the top 10 major project themes (using column 'mjtheme_namecode')

In [4]:
#import data from the json files on the computer
data = json.load((open('data/world_bank_projects.json')))

In [5]:
#count the number of occurances of each code, we use the code, because some names are missing
project_themes = json_normalize(data, 'mjtheme_namecode')
project_themes = project_themes['code'].value_counts().reset_index()
project_themes.head(10)

  index  code
0    11   250
1    10   216
2     8   210
3     2   199
4     6   168
5     4   146
6     7   130
7     5    77
8     9    50
9     1    38

## Top 10 Project Themes
Some entries have only the code and the name is missing. Create a dataframe with the missing names filled in

In [6]:
#create a dataframe with the project themes, group them by codes and count the number of occurances
project_themes_filled = json_normalize(data, 'mjtheme_namecode')

#replace the empty cells with NaN
project_themes_filled.replace('', np.nan , inplace=True)

#create a dictionary with the keys as the code and the values as the name
project_themes_non_nan = project_themes_filled.dropna()
lookup_dict = pd.Series(project_themes_non_nan.name.values,index=project_themes_non_nan.code).to_dict()

#fill the NaN values based on the dictionary created
project_themes_filled['name'] = project_themes_filled['name'].fillna(project_themes_filled.code.map(lookup_dict))

#create a dataframe with the project themes, group them by codes and count the number of occurances
project_themes_filled = project_themes_filled.groupby(['name']).count()

#sort the dataframe and print out the first 10
project_themes_filled = project_themes_filled.sort_values(['code'], ascending = False).reset_index()

#rename the column names
project_themes_filled.columns = ['name', 'count']

#drop the empty row 
print(project_themes_filled.head(10))

                                           name  count
0  Environment and natural resources management    250
1                             Rural development    216
2                             Human development    210
3                      Public sector governance    199
4         Social protection and risk management    168
5      Financial and private sector development    146
6                   Social dev/gender/inclusion    130
7                         Trade and integration     77
8                             Urban development     50
9                           Economic management     38